.formset-item.delete-checked .form-group:not(.formset-item-delete-host),
.formset-item.delete-checked .formset-nested-item,
.formset-item.delete-checked>.alert,
.formset-nested-item.delete-checked .form-group:not(.formset-item-delete-host),
.formset-nested-item.delete-checked .formset-nested-item,
.formset-nested-item.delete-checked>.alert{
    display:none
}


.formset-item.delete-checked,
.formset-nested-item.delete-checked{
    opacity:0.3;
    overflow: hidden;
    max-height: 5em;
}